<% aprice = '$19.95' %>
<div id="products">

  <div class="bg-white shadow-md p-4 flex">
    <div class="flex-shrink-0 mr-4">
      <img src="<%= product.image %>" alt="<%= product.name %>" class="w-32 h-auto">
    </div>
    <div>
      <div class="flex justify-between items-center mb-2">
        <h2 class="text-lg font-semibold text-gray-800" style="min-height: 4rem;"><%= product.name %></h2>
        <span class="text-sm text-gray-600"><%= number_to_currency(product.price) %></span>
      </div>
      <p class="text-sm text-gray-600 mb-2"><b><%= aprice %></b> | <%= product.created_at.strftime("%B %e, %Y") %></p>
      <p class="text-sm text-gray-700 mb-4" style="max-width: calc(100% - 1rem);"><%= truncate(strip_tags(product.desc), length: 200, separator: ' ') %></p>
    </div>
  </div>
  <hr class="my-4 border-t-2 border-blue-300">

</div>

